{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
      "airbnb",
      "prettier"
  ],
  "plugins": [
      "prettier"
  ],
  "settings": {
      "import/parser": "babel-eslint",
      "import/resolver": {
          "webpack": {
              "config": "build/webpack.eslint.js"
          }
      }
  },
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "semi": [
      2,
      "never"
    ],
    "react/jsx-filename-extension": [
        1,
        {
            "extensions": [
                ".js",
                ".jsx"
            ]
        }
    ]
  }
}